* {
 	font-family: 'Ubuntu', sans-serif;
 	margin: auto auto;
 	text-align: center;
}
.hidden {
 	display: none;
}
.visible {
 	display: block;
}
img {
	display: block;
}
#title {
	/*text-align: center;*/
	font-variant: small-caps;
	font-size: 100px;
}
#gameboard {
	/*text-align: center;*/
	margin-top: 10px;
}
.square {
	margin: none;
	padding: none;
	width: 40px;
	height: 40px;
	border: 10px groove #DCDCDC;
	display: inline-block;
	background-color: #D3D3D3;
}
.footer {
 	position: fixed;
 	left: 0;
 	bottom: 0;
 	width: 100%;
 	background-color: aliceblue; 
 	color: #696969;
 	text-align: center;
 	font-size: 13px;
}
